body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'quantico', sans-serif;
}

h1 {
    margin: 0px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    color: #A0C3D2;
}

p {
    line-height: 2;
    font-size: 20px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.intro {
    color: #66BFBF;
    font-size: 20px;
}

.copyright{
    color: #66BFBF;
    font-size: 0.75rem;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding-top: 100px ;

}

.bottom-container{
    background-color: #E4F9F5;
    padding: 1px 0 1px;

}

.topc {
    position: absolute;
    right: 150px;
    top: 40px;
}

/* Styles for desktop */
.btn11 {
  position: absolute;
  left: 100px;
  top: 100px;
}

.btn22 {
  position: absolute;
  left: 250px;
  top: 100px;
}
.unique {
  position: absolute;
  left: 1500px;
  top: 300px;
}

.bottomc{
    position: absolute;
    left: 150px;
    bottom: 300px;
}

.profile {
    border-radius: 15%;
}

.programming-img {
    border-radius: 100%;
    width: 10%;
    float: right;
    margin-left: 30px;
}

.typing-img {
    float: left;
    width: 10%;
    margin-right: 30px;
}

.art-img {
    float: right;
    width: 10%;
    margin-left: 30px;
}

.skill-row1 {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 50px;

}

.skill-row2 {
    width: 70%;
    margin: auto;
    text-align: left;

}

.skill-row3 {
    width: 70%;
    margin: auto;
    text-align: left;

}

.about{
    width: 40%;
    margin: auto;
    font-size: 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
    font-size: 20px;
}

.btn1 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .btn2 {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #525152 2px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #5c5b5c;
    background-image: -webkit-linear-gradient(top, #5c5b5c, #5c5c5c);
    background-image: -moz-linear-gradient(top, #5c5b5c, #5c5c5c);
    background-image: -ms-linear-gradient(top, #5c5b5c, #5c5c5c);
    background-image: -o-linear-gradient(top, #5c5b5c, #5c5c5c);
    background-image: linear-gradient(to bottom, #5c5b5c, #5c5c5c);
    text-decoration: none;
  }

 .btn11 {
    background: #d9c700;
    background-image: -webkit-linear-gradient(top, #d9c700, #d9c700);
    background-image: -moz-linear-gradient(top, #d9c700, #d9c700);
    background-image: -ms-linear-gradient(top, #d9c700, #d9c700);
    background-image: -o-linear-gradient(top, #d9c700, #d9c700);
    background-image: linear-gradient(to bottom, #d9c700, #d9c700);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
  }
  
  .btn11:hover {
    background: #fcf23c;
    background-image: -webkit-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -moz-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -ms-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -o-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: linear-gradient(to bottom, #fcf23c, #d9cf0b);
    text-decoration: none;
  }

  .btn22 {
    background: #d9c700;
    background-image: -webkit-linear-gradient(top, #d9c700, #d9c700);
    background-image: -moz-linear-gradient(top, #d9c700, #d9c700);
    background-image: -ms-linear-gradient(top, #d9c700, #d9c700);
    background-image: -o-linear-gradient(top, #d9c700, #d9c700);
    background-image: linear-gradient(to bottom, #d9c700, #d9c700);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
  }
  
  .btn22:hover {
    background: #fcf23c;
    background-image: -webkit-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -moz-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -ms-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: -o-linear-gradient(top, #fcf23c, #d9cf0b);
    background-image: linear-gradient(to bottom, #fcf23c, #d9cf0b);
    text-decoration: none;
  }
